body {
  background-color: #1d1a2a;
  font-family: 'Verdana', sans-serif;
  color: #fff;
}

.popup {
  width: 300px;
  border: 3px solid #c29e51;
  background-color: #2b2540;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 15px #000;
  margin: 2px auto;
}

.popup h2 {
  margin-top: -10px;
  margin-bottom: 5px;
  font-size: 18px;
  color: #c29e51;
  text-align: center;
}

.switch-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 14px;
  width: 200px;
}

.switch input {
  display: none;
}

.slider {
  position: relative;
  width: 50px;
  height: 24px;
  background-color: #555;
  border-color: #000;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #777;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background-color: #4caf50;
}

.switch input:checked + .slider::before {
  transform: translateX(20px);
  background-color: #fff;
}

.btn {
  background-color: #3a314d;
  border: 2px solid #c29e51;
  color: #fff;
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #4a3e61;
}

.icon {
  width: 16px;
  height: 16px;
}
